div {
    color : black;
    text-align: center;
    // text-emphasis : to-lower-case($string: "Hello");
}
// div:hover {
//     color: blue;
   
// }
.jumbotron {
    background: cyan;    
}
form {
    border: 1px solid;
}
